<div class="main">
  <h1>My Trips</h1>

  <% @trips.each do |trip| %>
  <div class="trip-show">
    <% if current_user.id == @user.id %>
      <%= link_to user_trip_path(current_user.id, trip) do %>
        <%= image_tag trip.destination.default_img, class: "extra_img trip-img" %>
      <% end %>
    <% else %>
      <%= image_tag trip.destination.default_img, class: "extra_img trip-img" %>
    <% end %>
    <span class="trip-info">
      <p><strong>Name:</strong> <%= trip.name %></p>
      <p><strong>Destination:</strong> <%= trip.destination.name %></p>
      <p><strong>From:</strong> <%= trip.from_date.strftime("%d/%m/%Y") %></p>
      <p><strong>To:</strong> <%= trip.to_date.strftime("%d/%m/%Y") %></p>
    </span>

  </div>
  <hr>
  <% end %>

  <%= link_to 'Back', user_path(current_user), class: "link-btn" %>
</div>
