<div class="main">
  <h1>My Trips</h1>

  <% @trips.each do |trip| %>

    <%= trip.name %> <br/>
    <%= trip.destination.name %> <br/>
    <%= trip.from_date %> <br/>
    <%= trip.to_date %> <br/>
    <%= link_to 'Show', user_trip_path(current_user.id, trip) %><br/>
  <% end %>

  <%= link_to 'Back', user_path(current_user) %>
</div>
