<div class="main">
  <h1>New Trip</h1>
  <%= form_for([current_user, @trip]) do |f| %>

    <div class="field">
      <%= f.label :trip_name %>
      <%= f.text_field :name, :required => true %>
    </div>

    <div class="field">
      <%= f.label :destination %>
      <%= f.select(:destination_id, @destinations.all.map {|a| [a.name, a.id]}) %>
    </div>

    <div class="field">
      <%= f.label :from_date %>
      <%= f.date_field :from_date, id: "from", :required => true %>
    </div>

    <div class="field">
      <%= f.label :to_date %>
      <%= f.date_field :to_date, id: "to", :required => true %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

  <%= link_to 'Back', user_path(current_user) %>
</div>
<script>
var from;
var to;

$("#to").change(function () {
  from = $("#from").val();
  to = $("#to").val();
  if(Date.parse(from) > Date.parse(to)){
     alert("Invalid Date Range");
     $("#to").val("")
  }
});

</script>
