<div class="main">
  <h1>Users</h1>

  <% @users.each do |user| %>

    <%= user.username %> -
    <%= user.from_location %> -
    <%= user.current_location %> -
    <%= user.bio %> -
    <div class="link-btn"> <%= link_to 'Show', user, class: "btn"  %></div>

  <% end %>
</div>
