

<div class="main">
  <div class="row">
    <div class="col-md-2 col-sm-6 col-xs-12 user_img">
      <% if @user.image_data %>
        <%= image_tag @user.image_url %>
      <% end %>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 user">
      <p>
        <strong>Username:</strong>
        <%= @user.username %>
      </p>

      <p>
        <strong>Country from:</strong>
        <%= @user.from_location %>
      </p>

      <p>
        <strong>Current Location:</strong>
        <%= @user.current_location %>
      </p>

      <p>
        <strong>Bio:</strong>
        <%= @user.bio %>
      </p>
      <div class="options">
        <% if current_user.id == @user.id %>
          <div class="link-btn"><%= link_to 'Edit', edit_user_path(@user)%></div>
          <div class="link-btn"><%= link_to 'All Users', users_path%></div>
        <% else %>
          <p>Message</p>
          <%#= link_to "Send message", user_conversations_path(current_user), id: "open-message-modal-button" %>
          <!-- <div id="message-modal">
            <input type="textarea" id="modal-message-text-area" />
            <input type="submit" id="send-message-button" value="Send" />
          </div> -->
          <div class="link-btn"><%= link_to 'All Users', users_path%></div>
        <% end %>
      </div>
    </div>


    <div class="col-md-6 my_trips">
      <h2>My Trips</h2>
      <% if current_user.id == @user.id %>
        <%= link_to "Add Trip", new_user_trip_path(:user_id => @user.id), method: :get%>
        <%= link_to "See all Trips", user_trips_path(:user_id => @user.id)%><br/>
      <% end %>
      <% @trips.each do |trip| %>
        <% next if trip.to_date.past? %>
        <div class="trip-show">
          <%= link_to user_trip_path(current_user.id, trip) do %>
            <%= image_tag trip.destination.default_img, class: "extra_img" %>
          <% end %>
          <%= trip.name %>
          <%= trip.destination.name %>

          <%= trip.from_date %>
          <%= trip.to_date %>

        </div>
        <hr>
      <% end %>
    </div>
  </div>
</div>
<%#= javascript_include_tag "messages.js"%>
