<div class="main">
  <div class="row">
    <div class="col-md-2 col-sm-6 col-xs-12 user_img">
      <% if @user.image_data %>
        <%= image_tag @user.image_url %>
      <% end %>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 user">
      <p>
        <strong>Username:</strong>
        <%= @user.username %>
      </p>

      <p>
        <strong>Country from:</strong>
        <%= @user.from_location %>
      </p>

      <p>
        <strong>Current Location:</strong>
        <%= @user.current_location %>
      </p>

      <p>
        <strong>Bio:</strong>
        <%= @user.bio %>
      </p>
      <div class="options">
        <% if current_user.id == @user.id %>
          <%= link_to 'Edit', edit_user_path(@user), class: "linkbtn" %><br/>
          <%= link_to 'All Users', users_path, class: "linkbtn" %><br/>
        <% else %>
          <p>Message</p>
          <%= link_to 'All Users', users_path, class: "linkbtn" %><br/>
        <% end %>
      </div>
    </div>
    <div class="col-md-6 my_trips">
      <h2>My Trips</h2>
      <% if current_user.id == @user.id %>
        <%= link_to "Add Trip", new_user_trip_path(:user_id => @user.id), method: :get, class: "linkbtn" %>
        <%= link_to "See all Trips", user_trips_path(:user_id => @user.id), class: "linkbtn" %><br/>
      <% end %>
      <% @trips.each do |trip| %>
        <% next if trip.to_date.past? %>
        <%= link_to user_trip_path(current_user.id, trip) do %>
          <%= image_tag trip.destination.default_img, class: "extra_img" %>
          <%= trip.name %>
          <%= trip.destination.name %>

          <%= trip.from_date %>
          <%= trip.to_date %>
        <% end %>
        <hr>
      <% end %>
    </div>
  </div>
</div>
