<div class="main">
    <h2 class="page_heading"><%= @tour.name %></h2>
    <div class="col-md-4">
      <% if !@tour.image_url.nil? %>
        <%= image_tag @tour.image_url, class: "large_img" %>
      <% end %>
      <p><%= @tour.description %></p>
      <p>Runs: <%= @tour.day_of_week %></p>
      <!-- <p>Add to Trip: </p> -->
      <%= link_to "Edit", edit_destination_tour_path(@tour.destination_id), class: "link-btn" %>
      <%= link_to "Back", destination_path(@tour.destination_id), class: "link-btn" %>
    </div>
    <div class="col-md-8 map">
      <div id="map"></div>
    </div>

</div>

<%= javascript_include_tag "map.js"%>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?v=3.25&key=AIzaSyBv5nUaJwXmq6HLHClQsQdeeDGS7b1SZ24&callback=initMap">
</script>
