<!DOCTYPE html>
<html>
  <head>
    <title>Travelling Buddy</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div id="wrap">
    	<header>
        <div class="row">
          <div class="col-md-4 col-sm-12">
        		<%= link_to root_url do %>
              <span class="header-name">Travelling Buddy<span>
            <% end %>
          </div>
          <div class="col-md-8 col-sm-12">
            <ul class="menu">
              <li>
                <%= link_to "HOME", root_url %>
              </li>
              <% if user_signed_in? %>
                <li><%= link_to "DESTINATIONS", destinations_path %></li>
              <% else %>
                <li><%= link_to "DESTINATIONS", destinations_path %></li>
              <% end %>
              <% if user_signed_in? %>
                <li>
                  <%= link_to "MESSAGES"%> <!-- , user_conversations_path(current_user) -->
                </li>
              <% else %>
                <li><%= link_to "ABOUT US", about_us_path %></li>
              <% end %>
              <% if user_signed_in? %>
                <li>
                  <%= link_to "PROFILE", user_path(current_user) %>
                </li>
              <% else %>
                <li><%= link_to "REGISTER", new_user_registration_path %></li>
              <% end %>
              <% if user_signed_in? %>
                <li class="sign-out"><%= link_to "SIGN OUT", destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li ><%= link_to "SIGN IN", new_user_session_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
        </header>
        <main>
            <%= yield %>
        </main>
      </div>
      <footer>
        <p>© Copyright 2017, Georgina Heap</p>
      </footer>
  </body>
</html>
